auto/
*.tex
_minted*

nohup.out

data/

**/figs/*.svg
**/figs/*.tex

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Simulink Cache
*.slxc

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

.auctex-auto/
_minted-index/
